.Home .notes h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Home .notes p {
  color: #666;
}
.Home .btn-group {
  width: 100%;
  display: flex;
  justify-content: center;
}
.universe {
  margin: 3rem 0;
}
.glyphicon-tree-conifer {
  color: darkgreen;
}
.glyphicon-tree-deciduous {
  color: green;
}
.glyphicon-home {
  color: brown;
}
.glyphicon-tent {
  color: rgb(145, 72, 72);
}
.glyphicon-cloud {
  color: white;
}
.glyphicon-star {
  color: yellow;
}
.glyphicon-globe {
  color: aqua;
}
.forest-container,
.panel-container,
.water-container,
.fire-container,
.cloud-container,
.star-container,
.header-container {
  display: flex;
  justify-content: center;
}
.forest {
  background-color: lightgreen;
  padding: 2rem;
  text-align: center;
}
.star {
  background-color: black;
  text-align: center;
  padding: 2rem;
}
.water {
  background-color: aqua;
  height: 1rem;
  text-align: center;
  padding: 2rem;
}
.fire {
  background-color: black;
  text-align: center;
}
.cloud {
  background-color: skyblue;
  text-align: center;
  padding: 2rem;
}
.glyphicon-fire {
  color: red;
}
.panel {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}
.main-col {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
}
.button-group,
.button-group > a {
  padding: 1rem;
}
.lander-container {
  padding-left: 0;
  padding-right: 0;
}
.header {
  text-align: center;
}
@media all and (min-width: 768px) {
  .small-text-is-too-damn-wide {
    width: 75%;
  }
}