.table-header {
  text-align: center;
}

.jumbotron p {
  font-size: inherit;
  margin-bottom: 0;
}

.btn {
  padding: 0;
}

.btn i {
  font-size: 2rem;
}

.button-group {
  margin-bottom: 2rem;
}

.pad-that-list {
  padding-left: 1rem;
}
.row-container {
  display: flex;
  justify-content: center;
}
.thumbnail {
  background-color: black;
}

.thumbnail * {
  color: white;
}
.thumbnail i {
  font-size: 5rem;
}